.authSection {
    background-color: #2196f3;
    height: 100vh;
    width: 100%;
}
.authContainer {
    max-width: 600px;
    background-color: white;
    padding: 45px 90px 50px 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}
.authContainer h1 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
}
.authContainer label {
    display: block;
    font-size: 15px;
    line-height: 15px;
    padding: 17px 0 13px;
    color: #404853;
    font-weight: 100;
}
.authContainer input {
    width: 100%;
    margin-bottom: 15px;
    font-weight: 400;
    min-width: 210px;
    padding: 6px 1em;
    border: 1px solid #d0d2d5;
    border-radius: 3px;
    font-size: 15px;
    line-height: 30px;
}
.authContainer button {
    padding: 8px 1em;
    width: 100%;
    min-width: 180px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 3px;
    margin: 15px 0;
    transition: color .2s ease,background-color .19s ease;
    background-color: #2f3844;
    color: #fafafa;
    text-align: left;
    max-width: 280px;
    font-weight: 100;
    letter-spacing: 2px;
}
.authContainer button i {
    float: right;
    clear: left;
    font-size: 1.5em;
    margin-top: 5px;
}
.authContainer form a {
    display: block;
    margin: 15px 0;
}
.authContainer img {
    height: 50px;
    display: block;
    margin: 10px auto;
}